<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Message</title>

    <link rel="stylesheet" href="index.css">

</head>

<body>

    <div class="chatMessage person">

        <p class="messageArea">

            <span class="chatPerson">Adarsh N bidari</span>

            <span class="time"><time>10:00 AM</time></span>

        </p>

        <p class="message">
            Hi am Adarsh
        </p>

    </div>

    <div class="chatMessage user">

        <p class="messageArea">

            <span class="chatPerson">Adarsh N bidari</span>

            <span class="time"><time>10:00 AM</time></span>

        </p>

        <p class="message">
            Hi am Adarsh
        </p>

    </div>

</body>

</html>